langchain
langchain-community
langchain-core
langchain-chroma
langgraph
langgraph-sdk
langgraph-prebuilt
langgraph-checkpoint-sqlite
langgraph-cli[inmem]
ipython
langchain-ollama
fastapi
requests
langsmith
python-dotenv
langchain_groq
langchain_nvidia_ai_endpoints
langchain_huggingface
sentence-transformers